<?xml version="1.0" encoding="UTF-8"?>  
<web-app>
   <!-- Restlet adapter -->  
   <servlet>  
      <servlet-name>RestletServlet</servlet-name>  
      <servlet-class>org.restlet.ext.servlet.ServerServlet</servlet-class>
      <init-param>
        <!-- Application class name -->
        <param-name>org.restlet.application</param-name>
        <param-value>aphorism2.AdagesApplication</param-value>
      </init-param>
   </servlet>  
  
   <!-- Dispach all requests to the Restlet servlet. -->  
   <servlet-mapping>  
     <servlet-name>RestletServlet</servlet-name>  
     <url-pattern>/*</url-pattern>  
   </servlet-mapping>  
</web-app>  
